[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[packages]
usaddress-scourgify = "*"
pandas = "*"
requests = "*"
apache-airflow = "*"
cryptography = "*"
socrata-py = {git = "https://github.com/sbuss/socrata-py.git"}
shapely = "*"

[requires]
python_version = "3.7"
