[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
flake8 = "*"
pytest = "*"

[packages]
usaddress-scourgify = "*"
pandas = "*"
requests = "*"
apache-airflow = "*"
cryptography = "*"

[requires]
python_version = "3.7"
